
# Created by https://www.toptal.com/developers/gitignore/api/react,visualstudiocode,cypressio
# Edit at https://www.toptal.com/developers/gitignore?templates=react,visualstudiocode,cypressio

### CypressIO ###
# gitignore template for the CypressIO, browser test framework
# website: https://www.cypress.io/

cypress/results/*
cypress/reports/*
cypress/screenshots/*
cypress/videos/*
/coverage/*

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
build
node_modules
bower_components

*.sublime*

psd
thumb
sketch

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/react,visualstudiocode,cypressio